// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mmowgli_2_0 {
  @include valo;

  // Insert your own theme rules here
  .v-nativebutton-borderless {
  	color: blue;
  	text-align:center;
  	border: 0;
  }
  
  .v-nativebutton-idea {
    display: block;
  	background-image: url(../Images/icons/h.png);
  	background-repeat: no-repeat;

  	margin-left:auto;
  	margin-right:auto;
  	margin-top:auto;
  	margin-bottom:auto;
  	border: 0;
  }
  
  //Links
  .v-link-link {
  	text-decoration: none;
  	color: #4D51AC;
  }
  
  //Home Page card displays
  .v-nativebutton-counter {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(236,157,186);
  	color: #4D51AC;
  }
  
  .v-nativebutton-expand {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(250,207,156);
  	color: #4D51AC;
  }
  
  .v-nativebutton-adapt {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(133,209,241);
  	color: #4D51AC;
  }
  
  .v-nativebutton-explore {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(219,233,154);
  	color: #4D51AC;
  }
  
  //Custom Component Stylings
  .v-customcomponent-updateBorders {
  	border-right: 1px solid #7E7FB5;
  	border-bottom: 1px solid #7E7FB5;
  	padding-right: 100px;
  	padding-left: 100px;
  	padding-bottom: 10px;
  }
  
}
