// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

  // Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mmowgli_2_0 {
  @include valo;

  // Insert your own theme rules here
  .v-nativebutton-borderless {
  	color: blue;
  	text-align:center;
  	border: 0;
  	background-color: #CCCCCC;
  }
  
  .v-nativebutton-idea {
    display: block;
  	background-image: url(../Images/icons/h.png);
  	background-repeat: no-repeat;

  	margin-left:auto;
  	margin-right:auto;
  	margin-top:auto;
  	margin-bottom:auto;
  	border: 0;
  }
  
  //Links
  .v-link-link {
  	text-decoration: none;
  	color: #4D51AC;
  }
  
  //Home Page card displays
  .v-nativebutton-counter {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(236,157,186);
  	color: #4D51AC;
  }
  
  .v-nativebutton-expand {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(250,207,156);
  	color: #4D51AC;
  }
  
  .v-nativebutton-adapt {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(133,209,241);
  	color: #4D51AC;
  }
  
  .v-nativebutton-explore {
  	border: 0px;
  	border-radius: 25px;
  	background-color: rgb(219,233,154);
  	color: #4D51AC;
  }

  .v-customcomponent-topbar{
  	background-color: #CCCCCC;
  	border-bottom: 2px solid #949494;
  }
  
  //sidebar cutomization
  .v-customcomponent-sidebar{
  	background-color: #CCCCCC;
  }
  
  .v-slot-borderless {
  	height: 80px;
  }
  
  .v-horizontallayout-userLayout {
  	text-align:center;
  	border: 0;
  	background-color: #CCCCCC;
  	padding-top: 20px;
  }
  
  //Custom Component Stylings
  .v-customcomponent-updateBorders{
  	border-right: 2px solid #7E7FB5;
  }
  
  	//root button styling
 	.v-nativebutton-root1 {
		background-image: url(images/icons/updates/bluePanel.png);
		border: 0px;
		border-radius: 15px;
	}
	
	.v-nativebutton-root2 {
		background-image: url(images/icons/updates/greenPanel.png);
		border: 0px;
		border-radius: 15px;
	}
	
	.v-nativebutton-rootToggle {
		border: 0px;
		border-radius: 20px;
		text-align: center;
  		height: 20px;
  		background-color: #CCCCCC;
	}
  
   //center main content
   .v-verticallayout-center {
   		
   			text-align: center;
   		
   }
   
	.v-verticallayout-white{
   		background: none repeat scroll 0% 0% #FFF;
   	}
  
	.v-panel-borderless {
		border: 0;
		background: none repeat scroll 0% 0% #FFF;
		text-align: center;
	}
  
//Card styling
  .v-nativebutton-cardButtons {
  	border:0 none;
  	background: transparent;
  }
  
  .cardButtons .v-icon{	//THIS HANDLES THE CHILD CLASS OF THE VOTE BUTTON
  	padding-bottom: 15px;
  }
  
  //Top Bar Labels and links
  .v-label-center {
  	padding-top: 5px;
  	font-weight: bold;
  }
  
  .v-link-center {
  	padding-top: 5px;
  	font-weight: bold;
  }
  
  //Top Bar Styling
  .v-slot-cardTypeExpand {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #F79E3A;
  }
  
  .v-slot-cardTypeCounter {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #D51C5B;
  }
  
  .v-slot-cardTypeAdapt {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #09A5E4;
  }
  
  .v-slot-cardTypeExplore {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #B8D438;
  }
  
  //Card Borders
  .v-slot-cardText {
  	border-left: 1px solid #949494;
  	border-right: 1px solid #949494;
  	border-top: 1px solid #949494;
  }
  
  .v-nativebutton-cardText {
  	border:0 none;
  	background: transparent;
  }
  
  .v-slot-cardBottom {
  	border-left: 1px solid #949494;
  	border-right: 1px solid #949494;
  	border-bottom: 1px solid #949494;
  	padding-bottom: 5px;
  }
  
  //mini cards
    .v-slot-cardTypeExpandMini {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #F79E3A;
  }
  
  .v-slot-cardTypeCounterMini {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #D51C5B;
  }
  
  .v-slot-cardTypeAdaptMini {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #09A5E4;
  }
  
  .v-slot-cardTypeExploreMini {
  	border-top-right-radius:17px;
  	border-top-left-radius: 17px;
  	border:0;
  	background-color: #B8D438;
  }
  
   .v-nativebutton-cardTextMini {
  	border:0 none;
  	background: transparent;
  	font-size: 13px;
  	font-weight: none;  
  }
  
//Tree Styling
	.v-tree-node-caption-root1 {
		background-color: #005800;
		border: 0px;
		border-radius: 15px;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	.v-tree-node-caption-expand {
		background-color: #F79E3A;
		border: 0px;
		border-radius: 15px;
		font-weight: bold;
		color: #000000;
	}
	
	.v-tree-node-caption-explore {
		background-color: #B8D438;
		border: 0px;
		border-radius: 15px;
		font-weight: bold;
		color: #000000;
	}
	
	.v-tree-node-caption-adapt {
		background-color: #09A5E4;
		border: 0px;
		border-radius: 15px;
		font-weight: bold;
		color: #000000;
	}
	
	.v-tree-node-caption-counter {
		background-color: #D51C5B;
		border: 0px;
		border-radius: 15px;
		font-weight: bold;
		color: #000000;
	}

}
